<div class="container">
  <h1><%= t('.account_info', { name: @user.name }) %></h1>
  <div class="user_avatar_large">
    <% if @user.avatar.attached? %>
      <%= image_tag display_avatar_large(@user), class: 'user_avatar' %>
    <% else %>
      <%= image_tag '/unknown/icon240.png', class: 'user_avatar' %>
    <% end %>
  </div>
  <p></p>
  <p><%= t('.name') %>: <%= @user.name %></p>
  <p><%= t('.email') %>: <%= @user.email %></p>
  <p><%= t('.profile') %>: <%= @user.profile %></p>

  <%= link_to t('.account_edit'), edit_user_registration_path, class: "btn btn-outline-secondary btn-sm" %>
</div>
